.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.spCell {
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') no-repeat;
  border-top: 1.8px solid #737373;
  border-right: none;
  border-bottom: none;
  border-left: 1.8px solid #737373;
}

/* background: url('../assets/images/icons.png') no-repeat; */
.board {
  display: grid;
  grid-template-columns: repeat(9, 30px);
  width: 270px;
  height: 270px;
  background-color: #b2b2b2;
}

.cell {
  width: 30px;
  height: 30px;
  background-color: #b2b2b2;
  border-top: 3.7px solid #e5e5e5;
  border-right: 3.7px solid #737373;
  border-bottom: 3.7px solid #737373;
  border-left: 3.7px solid #e5e5e5;
}

.cell:active {
  width: 30px;
  height: 30px;
  background-color: #b2b2b2;
  border-top: 1.8px solid #737373;
  border-right: none;
  border-bottom: none;
  border-left: 1.8px solid #737373;
}

.open {
  width: 30px;
  height: 30px;
  background-color: #b2b2b2;
  border-top: 1.8px solid #737373;
  border-right: none;
  border-bottom: none;
  border-left: 1.8px solid #737373;
}

.test {
  width: 30px;
  height: 30px;
  background-color: red;
}
