.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.spCell {
  width: 8vh;
  height: 8vh;
  background: url('~/src/assets/images/icons.png') no-repeat;
  background-size: auto 100%;
  border-top: 0.48vh solid #737373;
  border-right: none;
  border-bottom: none;
  border-left: 0.48vh solid #737373;
}

.board {
  display: grid;
  grid-template-columns: repeat(9, 8vh);
  background-color: #b2b2b2;
  border-top: 0.72vh solid #737373;
  border-right: 0.72vh solid #e5e5e5;
  border-bottom: 0.72vh solid #e5e5e5;
  border-left: 0.72vh solid #737373;
}

.cell {
  width: 8vh;
  height: 8vh;
  background-color: #b2b2b2;
  border-top: 1vh solid #e5e5e5;
  border-right: 1vh solid #737373;
  border-bottom: 1vh solid #737373;
  border-left: 1vh solid #e5e5e5;
}

.cell:active {
  width: 8vh;
  height: 8vh;
  background-color: #b2b2b2;
  border-top: 0.48vh solid #737373;
  border-right: none;
  border-bottom: none;
  border-left: 0.48vh solid #737373;
}

.open {
  width: 8vh;
  height: 8vh;
  background-color: #b2b2b2;
  border-top: 0.48vh solid #737373;
  border-right: none;
  border-bottom: none;
  border-left: 0.48vh solid #737373;
}

.outer {
  padding: 2vh;
  background-color: #b2b2b2;
  border-top: 0.72vh solid #e5e5e5;
  border-right: 0.72vh solid #737373;
  border-bottom: 0.72vh solid #737373;
  border-left: 0.72vh solid #e5e5e5;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16vh;
  margin-bottom: 1.5vh;
  background-color: #adadad;
  border-top: 0.72vh solid #737373;
  border-right: 0.72vh solid #e5e5e5;
  border-bottom: 0.72vh solid #e5e5e5;
  border-left: 0.72vh solid #737373;
}

.faceButton {
  width: 12vh;
  height: 12vh;
  margin: 0 8vh;
  background-image: url('../assets/images/face_unpressed.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.faceButton:active {
  background-image: url('../assets/images/face_pressed.svg');
}

.display {
  width: 19.5vh;
  height: 12vh;
  padding: 0.54vh;
  background-color: black;
  border-top: 0.54vh solid #737373;
  border-right: 0.54vh solid #e5e5e5;
  border-bottom: 0.54vh solid #e5e5e5;
  border-left: 0.54vh solid #737373;
}

.bombDisplay {
  display: flex;
  column-gap: 0.9vh;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
